.title {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main { 
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.logo {
    

    width: 166px;
    height: 158px;
    border-radius: 92px ;
}


