.title {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7px;
}

.main { 
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.logo {
    

    width: 166px;
    height: 158px;
    border-radius: 92px ;
}

.acclinks img {
    padding: 7px;
   
}

.acclinks img:hover {
    height: 45px;
    width: 45px;
}